.image{
    width:80px;
    height:80px;

}

.box{
    display:flex;
    


    .childbox {
        margin: 5px;
        width:80px;
        
    }
}

.header{
    height:50px;
    text-align: center;
    color: white;
    font-family:monospace;
 
  }