.container{
  
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .page-item .active .page-link {
    background-color: #ff0505;
}

.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 5px;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
    height: 50px;
}
.pagination li {
    float: left;
}
.pagination ul {
    float: left;
    left: 50%;
    position: relative;
}
.pagination ul > li {
    left: -50%;
    position: relative;
}

.pagination li a {
    transition: all 100ms ease-in-out 0s;
    background-color: #F7F7F8;
    border-radius: 5px 5px 5px 5px;
    color: #69696E;
    display: block;
    font-size: 22px;
    font: 22px Arial, sans-serif;
    height: 50px;
    width : 50px;
    margin: 0 3px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    
  
}

.btn{
    height : 50px;
    width : 50px;
    text-align: center;
}


.active {
    backgroue-color: #ff0505;
}